html {
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font: bold 35px 'Roboto', helvetica;
    width: 90%;
    margin-top: 10%;
    padding: 25px 0 0 10%;
    border-top: solid 1px rgba(132, 132, 132, 0.50);
    /*border-bottom: solid 1px rgba(132, 132, 132, 0.50);
    background-color: rgba(229, 229, 229, 0.70);*/
    text-transform: uppercase;
}


/*  index */

author {
    max-width: 480px;
    display: block;
    font: 400 25px 'Cambo', sans-serif;
    margin: 10% 0 0 10%;
}

author a {
    font-size: 14px;
    margin-left: 25px;
    color: #3f3f3f;
}

author .sighup {
    font-size: 25px;
    color: #3f3f3f;
    text-decoration: none;
}

author a:first-of-type(2) {
    margin-left: 0;
}

author a:hover {
    color: #848484;
}

name {
    display: block;
    font: bold 50px 'Roboto', helvetica;
    line-height: 55px;
    margin-bottom: 25px;
}

who {
    display: block;
    line-height: 32px;
    margin-bottom: 10px;
    color: #bfbdbd;
}


articles {
    padding: 25px 0 0 10%;
    display: block;
}

articles a {
    color: black;
    margin-top: 50px;
}


article {
    display: block;
    margin-bottom: 20px;
}

article headline {
    margin-left: 10px;
    display: block;
    padding-left: 160px;
}


article headline a {
    font: normal 20px 'Cambo', sans-serif;
    color: black;
    text-decoration: none;
}

article headline a:hover {
    color: #7f7f7f;
    text-decoration: underline;
}


publication-date {
    padding-left: 40px;
    color: #bfbdbd;
    font: normal 18px 'Cambo', sans-serif;
    float: left;
}


/* mobile */

@media screen and (max-width: 620px) {

    h1 {
        font: bold 20px 'Roboto', helvetica;
        text-align: center;
        padding: 25px 0;
        width: 100%;
    }

    author {
        font: 400 18px 'Cambo', sans-serif;
        text-align: center;
        margin: 50px auto;
        width: 80%;
    }

    author a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
        margin-left: 0;
    }

    author .sighup {
        font-size: 18px;
        color: #3f3f3f;
        text-decoration: none;
        margin-top: 0px;
    }


    author a:first-of-type {
        margin-top: 30px;
    }

    name {
        font: bold 30px 'Roboto', helvetica;
        text-align: center;
    }

    who {
        line-height: 22px;
    }

    publication-date {
        padding-left: 0;
        font: normal 14px 'Cambo', sans-serif;
        float: none;
    }

    article {
        width: 95%;
        margin-bottom: 40px;
    }

    article headline {
        margin-top: 5px;
        margin-left: 0;
        padding-left: 0;
    }

    article headline a {
        font: normal 20px 'Cambo', sans-serif;
    }
}
