---
layout: default
title: Jacopo Nardiello
---
<author>
    <name>Jacopo Nardiello</name>
    <who>Programmer and Computer Scientist. <!-- Head of technology at Boxify, Indie Author and --> Open Source enthusiast. I love Zen, XP and 5S methodologies.</who>
    <a href="http://twitter.com/jnardiello" target="_blank">@jnardiello</a><a href="http://github.com/jnardiello" target="_blank">github/jnardiello</a><a href="http://it.linkedin.com/in/jnardiello" target="_blank">linkedin/jnardiello</a>
</author>
<h1>Latest Articles</h1>
<articles>
    {% for post in site.posts %}
    {% if post.language == 'italian' %}
    <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
    {% endif %}
    {% endfor %}
</articles>
